body{
	background-color: #000000;
}
html, body, img, button, .thumbnail{
 	margin: 0px;
  	padding: 0px;
    border: none;
  }

 button{
 	background-color: transparent;
 }

.main{
	width: 85%;
	background-color: #1C1C1C;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}
.main li {
  display: inline;
  padding-left: 11px;
}
.main a {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;

}
.top{
	height: 30px;

}
.logo img {
 display: block;
 max-width: 100%;
}
.login-button img {
 display: block;
 max-width: 100%;
}
.menu ul {
	background-color: #1A1A1A;
	padding: 15px 15px;


}
.row {
	padding: 15px 15px;
}
.middle {
	width: 85%;
	background-color: #EBEBE0;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 5px solid;

}
.side ul{
	background-color: #1C1C1C;
}
.side li {
  display: inline-block;
  padding: 5px 12px;
}
.side a {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase
}
.lower{
  width: 350px;
}


.heading{
	width: 85%;
	background-color: #1C1C1C;
	width: 380px;
	color: white;

}
.statistics{
	width: 85%;
	background-color: #1C1C1C;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border: 5px solid #EBEBE0;;

}
.box{
	width: 90%;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}

table{
	background-color: #1C1C1C;
	color: white;

}

a.profile:hover{
	background-color: #FF6600;
	border: 1px solid;
	text-decoration: none;
}
a.stats:hover{
	background-color: #FF0000;
	border: 1px solid;
	text-decoration: none;
}
a.compare:hover{
	background-color: #FF0066;
	border: 1px solid;
	text-decoration: none;
}
a.live:hover{
	background-color: #0066FF;
	border: 1px solid;
	text-decoration: none;

}
a.support:hover{
	background-color: #FFFF00;
	border: 1px solid;
	text-decoration: none;
}

a.youtube:hover{
	background-color: #00FF00;
	border: 1px solid;
	text-decoration: none;
}
a.reddit:hover{
	background-color: #0099CC;
	border: 1px solid;
	text-decoration: none;

}
a.twitch:hover{
	background-color: #FF33CC;
	border: 1px solid;
	text-decoration: none;
}






